@import url("Animations/bounceIn.css");
@import url("Hovers/hovers.css");


.tile 
{
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  
  font-family:'segoe ui light', sans-serif; 
  font-size: 18px;
  color: #000;
  background-color: #fff;
    
  margin-left: 5px;
  margin-top: 5px;

  text-align: center;  
  vertical-align: middle;
  display: table-cell;
  
  -webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}


