.scale-dec:hover
{
  -webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}

.scale-inc:hover
{
  -webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	transform: scale(1.5);
}

.rotate:hover
{
  -webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.fade:hover
{
  opacity:0;
}

.highlight:hover {
  -webkit-filter: invert(100%);
}