.rotate10:hover {
	-webkit-transform: rotate(10deg);
	-moz-transform: rotate(10deg);
	transform: rotate(10deg);
}
.rotate20:hover {
	-webkit-transform: rotate(20deg);
	-moz-transform: rotate(20deg);
	transform: rotate(20deg);
}
.rotate30:hover {
	-webkit-transform: rotate(30deg);
	-moz-transform: rotate(30deg);
	transform: rotate(30deg);
}
.rotate40:hover {
	-webkit-transform: rotate(40deg);
	-moz-transform: rotate(40deg);
	transform: rotate(40deg);
}
.rotate50:hover {
	-webkit-transform: rotate(50deg);
	-moz-transform: rotate(50deg);
	transform: rotate(50deg);
}
.rotate60:hover {
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	transform: rotate(60deg);
}
.rotate70:hover {
	-webkit-transform: rotate(70deg);
	-moz-transform: rotate(70deg);
	transform: rotate(70deg);
}
.rotate80:hover {
	-webkit-transform: rotate(80deg);
	-moz-transform: rotate(80deg);
	transform: rotate(80deg);
}
.rotate90:hover {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
}
.rotate100:hover {
	-webkit-transform: rotate(100deg);
	-moz-transform: rotate(100deg);
	transform: rotate(100deg);
}
.rotate110:hover {
	-webkit-transform: rotate(110deg);
	-moz-transform: rotate(110deg);
	transform: rotate(110deg);
}
.rotate120:hover {
	-webkit-transform: rotate(120deg);
	-moz-transform: rotate(120deg);
	transform: rotate(120deg);
}
.rotate130:hover {
	-webkit-transform: rotate(130deg);
	-moz-transform: rotate(130deg);
	transform: rotate(130deg);
}
.rotate140:hover {
	-webkit-transform: rotate(140deg);
	-moz-transform: rotate(140deg);
	transform: rotate(140deg);
}
.rotate150:hover {
	-webkit-transform: rotate(150deg);
	-moz-transform: rotate(150deg);
	transform: rotate(150deg);
}
.rotate160:hover {
	-webkit-transform: rotate(160deg);
	-moz-transform: rotate(160deg);
	transform: rotate(160deg);
}
.rotate170:hover {
	-webkit-transform: rotate(170deg);
	-moz-transform: rotate(170deg);
	transform: rotate(170deg);
}
.rotate180:hover {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
}
.rotate-10:hover {
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	transform: rotate(-10deg);
}
.rotate-20:hover {
	-webkit-transform: rotate(-20deg);
	-moz-transform: rotate(-20deg);
	transform: rotate(-20deg);
}
.rotate-30:hover {
	-webkit-transform: rotate(-30deg);
	-moz-transform: rotate(-30deg);
	transform: rotate(-30deg);
}
.rotate-40:hover {
	-webkit-transform: rotate(-40deg);
	-moz-transform: rotate(-40deg);
	transform: rotate(-40deg);
}
.rotate-50:hover {
	-webkit-transform: rotate(-50deg);
	-moz-transform: rotate(-50deg);
	transform: rotate(-50deg);
}
.rotate-60:hover {
	-webkit-transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
	transform: rotate(-60deg);
}
.rotate-70:hover {
	-webkit-transform: rotate(-70deg);
	-moz-transform: rotate(-70deg);
	transform: rotate(-70deg);
}
.rotate-80:hover {
	-webkit-transform: rotate(-80deg);
	-moz-transform: rotate(-80deg);
	transform: rotate(-80deg);
}
.rotate-90:hover {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
.rotate-100:hover {
	-webkit-transform: rotate(-100deg);
	-moz-transform: rotate(-100deg);
	transform: rotate(-100deg);
}
.rotate-110:hover {
	-webkit-transform: rotate(-110deg);
	-moz-transform: rotate(-110deg);
	transform: rotate(-110deg);
}
.rotate-120:hover {
	-webkit-transform: rotate(-120deg);
	-moz-transform: rotate(-120deg);
	transform: rotate(-120deg);
}
.rotate-130:hover {
	-webkit-transform: rotate(-130deg);
	-moz-transform: rotate(-130deg);
	transform: rotate(-130deg);
}
.rotate-140:hover {
	-webkit-transform: rotate(-140deg);
	-moz-transform: rotate(-140deg);
	transform: rotate(-140deg);
}
.rotate-150:hover {
	-webkit-transform: rotate(-150deg);
	-moz-transform: rotate(-150deg);
	transform: rotate(-150deg);
}
.rotate-160:hover {
	-webkit-transform: rotate(-160deg);
	-moz-transform: rotate(-160deg);
	transform: rotate(-160deg);
}
.rotate-170:hover {
	-webkit-transform: rotate(-170deg);
	-moz-transform: rotate(-170deg);
	transform: rotate(-170deg);
}
.rotate-180:hover {
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	transform: rotate(-180deg);
}
